<% include ./partials/header %>
    <div class="container">
        <% if (errors.email) { %>
            <div class="flash-message">
                <div class="alert alert-danger">
                    <p>
                        <%=errors.email.msg %>
                    </p>
                </div>
            </div>
            <% } else if (errors.password) { %>
                <div class="flash-message">
                    <div class="alert alert-danger">
                        <p>
                            <%=errors.password.msg %>
                        </p>
                    </div>
                </div>
                <% } %>
    </div>
    <div class="container">
        <div class="row">
            <div style="width: 45%; margin: 25px auto;">
                <h1 style="text-align: center">Register Account</h1>
                <form action="/register" method="POST">
                    <div class="form-group <%= errors.message ? 'form-field-invalid' : '' %>">
                        <label for="FormInputGroup">
                            <b>Username: *</b>
                        </label>
                        <input class="form-control" type="text" name="username" id="username" required>
                        <% if (errors.username) { %>
                            <div class="error">
                                <%= errors.username.msg %>
                            </div>
                            <% } %>
                                <small>
                                    <em>This is the name that will be publicly listed as the author of your posts.</em>
                                </small>
                    </div>
                    <div class="form-group">
                        <label for="FormInputGroup">
                            <b>Password: *</b>
                        </label>
                        <input class="form-control" type="password" name="password" id="password" required>
                        <% if (!errors.password) { %>
                            <small>
                                <em>Passwords much be 7 to 19 characters in length and contain one number and one special character.
                                </em>
                            </small>
                            <% } else { %>
                                <div class="error">
                                    <%= errors.password.msg %>
                                </div>
                                <% } %>
                    </div>
                    <div class="form-group">
                        <label for="FormInputGroup">
                            <b>Password Confirm: *</b>
                        </label>
                        <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                    </div>
                    <div class="form-group">
                        <label for="FormInputGroup">
                            <b>First Name:</b>
                        </label>
                        <input class="form-control" type="text" name="firstName" id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="FormInputGroup">
                            <b>Last Name:</b>
                        </label>
                        <input class="form-control" type="text" name="lastName" id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="FormInputGroup">
                            <b>Email: *</b>
                        </label>
                        <input class="form-control <%= errors.email ? 'form-field-invalid' : '' %>" type="Email" id="email" name="email" required>
                        <% if (errors.email) { %>
                            <div class="error">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <!-- <div class="form-group">
                        <label for="FormInputGroup">
                            <b>Choose Your Avatar:</b>
                        </label>
                        <input type="file" id="avatar" name="avatar">
                    </div> -->
                    <% /* <div class="form-group">
                    <label class="sr-only" for="FormInputGroup">Admin Code:</label>
                    <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
                    <small><em>Please get the admin code from and administator, otherwise leave this blank.</em></small>
                </div> */ %>
                        <div>
                            <small>
                                <b>* Required</b>
                            </small>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Register Me</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>