<% include ../partials/header3 %>
    <div class="row">
        <div class="new-blocks">
            <fieldset>
            <legend>Edit <%- post.title %></legend>
            <form action="/posts/<%=post._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                <label for="FormInputGroup"><b>Post Title</b>:</label>
                    <input class="form-control" type="text" name="title" id="title" value="<%- post.title %>" required>
                </div>
                <div class="form-group">
                    <label for="image"><b>Image</b>:</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                <label for="FormInputGroup"><b>Image Description:</b></label>
                    <input class="form-control" type="text" name="alt" id="alt" value="<%- post.alt %>" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="body" id="body" value="Description"><%=post.body%></textarea>
                </div>
                 <div class="form-group">
                    <label for="FormInputGroup"><b>Status</b>:</label>
                    <input class="form-control" type="checkbox" name="status" id="status" checked>
                </div>
                <div class="form-group" style="display: inline-block;">
                    <div>
                        <label for="FormInputGroup"><b>Primary Post?</b></label>
                        <input class="form-control" type="checkbox" name="primary" id="primary">
                    </div>
                </div>
                <div class="form-group">
                    <label for="FormInputGroup"><b>Artist Name</b>:</label>
                    <input class="form-control" type="text" name="tag1" id="tag1" value="<%- post.tag1 %>">
                </div>
                <div class="form-group">
                    <label for="FormInputGroup"><b>Tags</b></label>
                    <select name="tag2" id="tag2">
                        <option value="<%= post.tag2 %>" selected><%= post.tag2 %></option>   
                        <option value="Rock">Rock</option>
                        <option value="Blues">Blues</option>
                        <option value="Americana">Americana</option>
                        <option value="Folk">Folk</option>
                        <option value="Country">Country</option>
                        <option value="Listen">Listen</option>
                        <option value="Playlist">Playlist</option>
                        <option value="Album">Album</option>
                        <option value="Song">Song</option>
                        <option value="Live">Live</option>
                </select>
                </div>                
                <div class="form-group">
                    <label for="FormInputGroup">Tags</label>
                    <select name="tag3" id="tag3">
                        <option selected value="<%= post.tag3 %>"><%= post.tag3 %></option>   
                        <option value="Rock">Rock</option>
                        <option value="Blues">Blues</option>
                        <option value="Americana">Americana</option>
                        <option value="Folk">Folk</option>
                        <option value="Country">Country</option>
                        <option value="Listen"><i class="fas fa-headphones"></i> Listen</option>
                        <option value="Playlist">Playlist</option>
                        <option value="Album">Album</option>
                        <option value="Song">Song</option>
                        <option value="Live">Live</option>
                </select>
                </div>               
                <div class="form-group">
                    <label for="FormInputGroup">Tags</label>
                    <select name="tag4" id="tag4">
                        <option selected value="<%= post.tag4 %>"><%= post.tag4 %></option>   
                        <option value="Rock">Rock</option>
                        <option value="Blues">Blues</option>
                        <option value="Americana">Americana</option>
                        <option value="Folk">Folk</option>
                        <option value="Country">Country</option>
                        <option value="Listen"><i class="fas fa-headphones"></i> Listen</option>
                        <option value="Playlist">Playlist</option>
                        <option value="Album">Album</option>
                        <option value="Song">Song</option>
                        <option value="Live">Live</option>
                </select>
                </div> 
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            </fieldset>
            <a href="/posts">View All Posts</a>
        </div>
    </div>
<% include ../partials/footer %>

