<% include ../partials/header-index %>

<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Welcome</h2>
          <p class="text-big">Rock and Roll has no beginning, no end. It is the very pulse of life itself.</p>
      </div>
    </div>
  </div>
</section>

<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    <% posts.forEach(function(post) { %>
    <% if (post.isPrimary =="Yes" && post.status=="Yes") { %>
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="/tags/<%= post.tag2 %>">
                  <%= post.tag2 %>
                </a>
                <a href="#">
                  <%- post.tag3 %>
                </a>
                <a href="#">
                  <%- post.tag4 %>
                </a>
              </div>
              <h2 class="h4">
                <a class="headline" href="/posts/<%= post._id %>">
                  <%- post.title %>
                </a>
              </h2>
            </header>
            <p>
              <%- clip(post.body, 300, { html: true, maxLines: 5 }) %>
              <a class="read-more" href="/posts/<%= post._id %>">(Read More)</a>
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img src="<%- post.author.avatar %>" alt="Image of author <%- post.firstName %> <%- post.lastName %>"
                    class="img-fluid">
                </div>
                <div class="title">
                  <span>
                    <a href="/users/<%= post.author.id %>">
                      <%= post.author.username %>
                    </a>
                  </span>
                </div>
              </a>
              <div class="date">
                <i class="fas fa-clock"></i>
                <%= moment(post.createdAt).fromNow() %>
              </div>
              <!-- <div class="comments">
                      <i class="fas fa-comments"></i> 12 Comments</div> -->
            </footer>

            <% if(currentUser && post.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="button-block d-inline-flex">
              <a class="btn btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
              <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="delete-form">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="image col-lg-5">
        <img class="img-fluid" src="<%= post.image %>" alt="<%- post.alt %>">
      </div>
    </div>
    <% } %>
    <%})%>


    <% posts.forEach(function(post) { %>
    <% if (post.isPrimary=="No" && post.status=="Yes") { %>
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="/tags/<%= post.tag2 %>">
                  <%= post.tag2 %>
                </a>
                <a href="#">
                  <%- post.tag3 %>
                </a>
                <a href="#">
                  <%- post.tag4 %>
                </a>
              </div>
              <h2 class="h4">
                <a class="headline" href="/posts/<%= post._id %>">
                  <%- post.title %>
                </a>
              </h2>
            </header>
            <p>
              <%- clip(post.body, 300, { html: true, maxLines: 5 }) %>
              <a class="read-more" href="/posts/<%= post._id %>">(Read More)</a>
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img src="<%- post.author.avatar %>" alt="Image of author <%- post.firstName %> <%- post.lastName %>"
                    class="img-fluid">
                </div>
                <div class="title">
                  <span>
                    <a href="/users/<%= post.author.id %>">
                      <%= post.author.username %>
                    </a>
                  </span>
                </div>
              </a>
              <div class="date">
                <i class="fas fa-clock"></i>
                <%= moment(post.createdAt).fromNow() %>
              </div>
              <!-- <div class="comments">
                              <i class="fas fa-comments"></i> 12 Comments</div> -->
            </footer>

            <% if(currentUser && post.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="button-block d-inline-flex">
              <a class="btn btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
              <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="delete-form">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="image col-lg-5">
        <img class="img-fluid" src="<%= post.image %>" alt="<%- post.alt %>">
      </div>
    </div>
    <%}%>
    <% }); %>
  </div>
</section>


<!-- Divider Section-->
<section style="background: url(./images/divider-bg.jpg); background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>&ldquo;When Johnson started singing, he seemed like a guy who could have sprung from the head of Zeus in
          full armor.&rdquo;</h2>
        <caption>&mdash; Bob Dylan on Robert Johnson</caption>
        <!-- <a href="#" class="hero-link">View More</a> -->
      </div>
    </div>
  </div>
</section>

<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest Reviews from Saving Country Music</h2>
      <p class="text-big">Saving Country Music is a consumer advocate and an industry watchdog.</p>
    </header>
    <div class="row">
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html">
            <img src="../images/isbell-ryman.jpg" alt="Jason Isbell and the 400 Unit Live at the Ryman" class="img-fluid">
          </a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">6 Nov | 2018</div>
            <div class="category">
              <a href="#">Review</a>
            </div>
          </div>
          <a href="post.html">
            <h3 class="h4">Album Review &mdash; Jason Isbell’s &quot;Live From The Ryman&quot;</h3>
          </a>
          <p class="text-muted">Jason Isbell has ascended to being considered the King of Americana by making all of
            the right moves at the right time. <a href="https://www.savingcountrymusic.com/album-review-jason-isbells-live-from-the-ryman/"
              target="_blank">(Read More...)</a></p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html">
            <img src="../images/pistol-annies.jpg" alt="Pistol Annies" class="img-fluid">
          </a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">5 Nov | 2018</div>
            <div class="category">
              <a href="#">Review</a>
            </div>
          </div>
          <a href="post.html">
            <h3 class="h4">Album Review &mdash; The Pistol Annies’ &quot;Interstate Gospel&quot;</h3>
          </a>
          <p class="text-muted">On the Pistol Annies’ third record and their first in a long while, you will find the
            songs you would expect from the supertrio. <a href="https://www.savingcountrymusic.com/album-review-the-pistol-annies-interstate-gospel/"
              target="_blank">(Read More...)</a></p>
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html">
            <img src="../images/carson-mchone.jpg" alt="..." class="img-fluid">
          </a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">29 Oct | 2018</div>
            <div class="category">
              <a href="#">Review</a>
            </div>
          </div>
          <a href="post.html">
            <h3 class="h4">Album Review &mdash; Carson McHone’s &quot;Carousel&quot;</h3>
          </a>
          <p class="text-muted">It’s not just the words, but the music of Carson McHone’s Carousel that help create an
            audio illustration of this emotional battlefield that it’s haunting at times in how well it mirrors our own
            experiences. <a href="https://www.savingcountrymusic.com/album-review-carson-mchones-carousel/" target="_blank">(Read
              More...)</a></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="../images/gallery-1.jpg" data-fancybox="gallery" class="img">
          <img src="../images/gallery-solo.jpg" alt="solo singer-guitarist" class="img-fluid">
          <!-- <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i>
          </div> -->
        </a>
      </div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="../images/gallery-am-music.jpg" data-fancybox="gallery" class="img">
          <img src="../images/gallery-am-music.jpg" alt="Duo performing music" class="img-fluid">
          <!-- <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i>
          </div> -->
        </a>
      </div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="../images/gallery-strings.jpg" data-fancybox="gallery" class="img">
          <img src="../images/gallery-strings.jpg" alt="string instruments" class="img-fluid">
          <!-- <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i>
          </div> -->
        </a>
      </div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item">
        <a href="../images/gallery-drums.jpg" data-fancybox="gallery" class="img">
          <img src="../images/gallery-drums.jpg" alt="percussion drum kit" class="img-fluid">
          <!-- <div class="overlay d-flex align-items-center justify-content-center">
            <i class="icon-search"></i>
          </div> -->
        </a>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>