<% include ../partials/header %>

  <!-- Intro Section-->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Welcome!</h2>
            <p class="text-big">This is where a tagline goes.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-posts no-padding-top">
    <div class="container">
      <!-- Post-->
      <% posts.forEach(function(post){ %>
        <% if(post.isPrimary && post.status) { %>
          <div class="row d-flex align-items-stretch">
            <div class="text col-lg-7">
              <div class="text-inner d-flex align-items-center">
                <div class="content">
                  <header class="post-header">
                    <div class="category">
                      <a href="#">
                        <%- post.tag2 %>
                      </a>
                      <a href="#">
                        <%- post.tag3 %>
                      </a>
                      <a href="#">
                        <%- post.tag4 %>
                      </a>
                    </div>
                    <h2 class="h4">
                      <%- post.title %>
                    </h2>
                    </a>
                  </header>
                  <p>
                    <%- clip(post.body, 300, { html: true, maxLines: 5 }) %>
                      <a class="read-more" href="/posts/<%= post._id %>">(Read More)</a>
                  </p>
                  <footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar">
                        <img src="<%= post.author.avatar %>" alt="Image of <%- post.firstName %> <%- post.lastName %>" class="img-fluid">
                      </div>
                      <div class="title">
                        <span>
                          <%= post.author.username %>
                        </span>
                      </div>
                    </a>
                    <div class="date">
                      <i class="fas fa-clock"></i>
                      <%= moment(post.createdAt).fromNow() %>
                    </div>
                    <div class="comments">
                      <i class="fas fa-comments"></i> 12 Comments</div>
                  </footer>

                  <% if(currentUser && post.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="button-block d-inline-flex">
                      <a class="btn btn-warning" href="/posts/<%= post._id %>/edit">Edit</a>
                      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="delete-form">
                        <button class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                    <% } %>
                </div>
              </div>
            </div>
            <div class="image col-lg-5">
              <img class="img-fluid" src="<%= post.image %>" alt="<%- post.alt %>">
            </div>
          </div>
          <% } %>
            <% }); %>
    </div>
  </section>

  <!-- Divider Section-->
  <section style="background: url(./images/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua</h2>
          <a href="#" class="hero-link">View More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Posts -->
  <section class="latest-posts">
    <div class="container">
      <header>
        <h2>LATEST FROM THE BLOG</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
      <div class="row">
        <div class="post col-md-4">
          <div class="post-thumbnail">
            <a href="post.html">
              <img src="../images/blog-1.jpg" alt="..." class="img-fluid">
            </a>
          </div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category">
                <a href="#">Business</a>
              </div>
            </div>
            <a href="post.html">
              <h3 class="h4">Ways to remember your important ideas</h3>
            </a>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail">
            <a href="post.html">
              <img src="../images/blog-2.jpg" alt="..." class="img-fluid">
            </a>
          </div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category">
                <a href="#">Technology</a>
              </div>
            </div>
            <a href="post.html">
              <h3 class="h4">Diversity in Engineering: Effect on Questions</h3>
            </a>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail">
            <a href="post.html">
              <img src="../images/blog-3.jpg" alt="..." class="img-fluid">
            </a>
          </div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category">
                <a href="#">Financial</a>
              </div>
            </div>
            <a href="post.html">
              <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3>
            </a>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Gallery Section-->
  <section class="gallery no-padding">
    <div class="row">
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item">
          <a href="../images/gallery-1.jpg" data-fancybox="gallery" class="img">
            <img src="../images/gallery-1.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="icon-search"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item">
          <a href="../images/gallery-2.jpg" data-fancybox="gallery" class="img">
            <img src="../images/gallery-2.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="icon-search"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item">
          <a href="../images/gallery-3.jpg" data-fancybox="gallery" class="img">
            <img src="../images/gallery-3.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="icon-search"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item">
          <a href="../images/gallery-4.jpg" data-fancybox="gallery" class="img">
            <img src="../images/gallery-4.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center">
              <i class="icon-search"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer %>